:root {
  --c-base: #F7F7F7;
  --input-padding;
  --input-blur;
  --input-color: #03D2FE;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--c-base);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
  color: #333;
}

.title {
  max-width: 80%;
  border-bottom: 3px solid #FFF;
}

.title span {
  color: var(--input-color);
  text-shadow: 1px 1px 3px #aaa;
  font-size: 1.4em;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 600px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  margin: 1em 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .controls {
    flex-direction: column;
  }
  .controls .label {
    width: 100%;
  }
  .controls .text {
    text-align: left;
  }
  .controls .input {
    width: 100%;
  }
}

.controls .label {}

.controls .text {}

.controls .input {}

.img-container {
  padding: var(--input-padding, 10px);
  filter: blur(var(--input-blur, 0));
  background-color: var(--input-color, #FFF);
}
